<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <appSettings>
      <add key="ConsumerKey" value="" />
      <add key="ConsumerSecret" value="" />
      <add key="Token" value="" />
      <add key="TokenSecret" value="" />
      <add key="TweetMapR:Mode" value="Debug" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>